Resets
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*  Styles */

/* * Base * */

:root {
    --tennisball_color: #ffff33;
    --coral_color: #FF674D;
    --aspect-ratio_sizing: 135px;
}

/* **** Typography **** */

h1, h2, h4, h5, h6, a {
    font-family: 'Work Sans', sans-serif;
}

p, span, h3 {
    font-family: 'Bitter', serif;
}

/* Mobile First! */

h1 {
    font-size: calc(var(--aspect-ratio_sizing) / 3);
    color: var(--tennisball_color);
}

/* iPad & Up */

@media only screen and (min-width: 768px) {
    h1 {
        font-size: calc(var(--aspect-ratio_sizing) / 2);
    }
}

/* Desktop & Up */

@media only screen and (min-width: 992px) {
    h1 {
        font-size: var(--aspect-ratio_sizing);
    }
}

a {
    color: var(--coral_color);
    text-decoration: none;
    transition: .15s all ease;
}

a:visited {
    color: var(--coral_color);
    text-decoration: underline;
}

a:hover {
    color: #00CECB;
}

/* **** Base Styles **** */

body {
    background: url("https://images.unsplash.com/photo-1509460913899-515f1df34fea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.backdrop {
    border: 20px solid var(--tennisball_color);
}

/* Mobile First */

.backdrop-text {
    padding: 15%;
    overflow-wrap: breakword;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 800px;
    margin: 0 auto;
}

/* iPad & Up */

@media only screen and (min-width: 768px) {
    .backdrop-text {
        padding: 20%;
    }
}