Resets
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*  Styles */

/* * Base * */

:root {
  --tennisball_color: #ffff33;
  --coral_color: #ff674d;
  --tiffany_color: #00cecb;
  --aspect-ratio_sizing: 100px;
}

/* **** Typography **** */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}

/* Mobile First! */

h1 {
  font-size: calc(var(--aspect-ratio_sizing) / 2);
  color: var(--tennisball_color);
  font-weight: bold;
  border: 20px solid var(--tennisball_color);
  padding: 15%;
}

/* iPad & Up */

@media only screen and (min-width: 768px) {
  h1 {
    padding: 15%;
  }
}

/* Desktop & Up */

@media only screen and (min-width: 992px) {
  h1 {
    font-size: var(--aspect-ratio_sizing);
  }
}

a {
  color: var(--coral_color);
  text-decoration: none;
  transition: 0.15s all ease;
}

a:visited {
  color: var(--coral_color);
  text-decoration: underline;
}

a:hover {
  color: var(--tiffany_color);
}

/* **** Base Styles **** */

/* Note: the attriburte selector pattern is to separate concerns from base styling to styling associated with JavaScript. This way, if we need to refactor base styles, we do not affect the styles associated with the plugin. */

[data-target="portrait"] {
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* Mobile First */

.backdrop-text {
  overflow-wrap: breakword;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 800px;
  margin: 0 auto;
}

/* iPad & Up */

@media only screen and (min-width: 768px) {
  .backdrop-text {
    padding: 20%;
  }
}

/* Background Images */

/* Background images exported out to a CDN for faster caching */

[data-target="portrait"].portrait_1 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224881/public/about_me/portrait_1.jpg");
}

[data-target="portrait"].portrait_2 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_2.jpg");
}

[data-target="portrait"].portrait_3 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_3.jpg");
}

[data-target="portrait"].portrait_4 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_4.jpg");
}

[data-target="portrait"].portrait_5 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_5.jpg");
}

[data-target="portrait"].portrait_6 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_6.jpg");
}

[data-target="portrait"].portrait_7 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_7.jpg");
}

[data-target="portrait"].portrait_8 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_8.jpg");
}

[data-target="portrait"].portrait_9 {
  background-image: url("https://res.cloudinary.com/front-end-careers/image/upload/v1601224615/public/about_me/portrait_9.jpg");
}

.visibility_screen {
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: color-dodge;
  opacity: 0.5;
}
